In [1]:
# Create a table. The table is a list of lists; the countries and their GDP's
table = [
   ['UK', 2678454886796.7],    # 1st row
   ['USA', 16768100000000.0],  # 2nd row
   ['China', 9240270452047.0], # and so on...
   ['Brazil', 2245673032353.8],
   ['South Africa', 366057913367.1]
]

In [4]:
from pandas import *
# Create a list of column names
headings = ['Country', 'GDP (US$)']
# Create a dataframe
gdp = DataFrame(columns = headings, data = table)
gdp

        Country     GDP (US$)
0            UK  2.678455e+12
1           USA  1.676810e+13
2         China  9.240270e+12
3        Brazil  2.245673e+12
4  South Africa  3.660579e+11

In [5]:
# Life Expectancy 
headings = ['Country name', 'Life expectancy (years)']
table = [
   ['China', 75],
   ['Russia', 71],  
   ['United States', 79],
   ['India', 66],
   ['United Kingdom', 81]
]
life = DataFrame(columns=headings, data=table)
life

     Country name  Life expectancy (years)
0           China                       75
1          Russia                       71
2   United States                       79
3           India                       66
4  United Kingdom                       81

In [13]:
# Write a function to round gdp to the nearest million
def roundToMillions(lst):
    for value in lst:
        result = round(value / 1000000)
        return result

In [14]:
gdp['GDP (US$)']

0    2.678455e+12
1    1.676810e+13
2    9.240270e+12
3    2.245673e+12
4    3.660579e+11
Name: GDP (US$), dtype: float64

In [15]:
roundToMillions([4567890.1, 4567890.1])

5